
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Member>

<h1>View User</h1>

<table class="table table-hover">
    <tr>
        <th>MemberID</th>
        <th>Role</th>
        <th>Email</th>
        <th>Date Joined</th>
    </tr>
    @foreach (var p in Model) {
        <tr>
            <th>@p.MemberId</th>
            <th>@p.Role</th>
            <th><a href="/Home/ViewProfile?id=@p.MemberId">@p.Email</a></th>
            <th>@p.DateJoined</th>
        </tr>
    }
</table>

 