@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<h1>View Profile</h1>

<h2>Email:</h2>
<h3>admin@mail.com</h3>

<h2>Date Joined:</h2>
<h3>2017-07-30 09:28:10.000</h3>

<!-- Standard button -->
<button type="button" class="btn btn-default">Report User</button>
